{
    "openapi": "3.0.0",
    "info": {
        "title": "LouvorJA API",
        "description": "API do ecossistema LouvorJA — musicas, albums, arquivos, configs e export JSON.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.louvorja.com",
            "description": "Producao"
        },
        {
            "url": "http://localhost:8000",
            "description": "Desenvolvimento"
        }
    ],
    "paths": {
        "/json_db/{file}": {
            "get": {
                "tags": [
                    "Database"
                ],
                "summary": "Obter arquivo JSON exportado",
                "description": "Retorna o conteudo de um arquivo JSON especifico da pasta public/db/json/",
                "operationId": "5c607d2e3a8b8ce46990e2a52ed4788f",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "Nome do arquivo (sem extensao .json)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "config"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Conteudo do JSON"
                    },
                    "404": {
                        "description": "Arquivo nao encontrado"
                    }
                },
                "security": [
                    {
                        "ApiToken": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiToken": {
                "type": "apiKey",
                "description": "Token de autenticacao enviado via header Api-Token",
                "name": "Api-Token",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "Database",
            "description": "Database"
        }
    ]
}