{
    "openapi": "3.0.0",
    "info": {
        "title": "LouvorJA API",
        "description": "API do LouvorJA - Gerenciador de Hinários e Músicas para a Igreja Adventista do Sétimo Dia. Fornece endpoints públicos para consulta de músicas, letras, arquivos e álbuns, além de endpoints administrativos protegidos por autenticação JWT.",
        "contact": {
            "name": "LouvorJA",
            "email": "contato@louvorja.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.louvorja.com.br",
            "description": "Produção"
        },
        {
            "url": "http://localhost:8000",
            "description": "Desenvolvimento"
        }
    ],
    "paths": {
        "/{lang}/albums": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar álbuns (público)",
                "description": "Retorna lista paginada de álbuns para o idioma informado",
                "operationId": "4c40849d962c5ca87686cf2d59db7418",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca textual",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de álbuns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/admin/albums": {
            "get": {
                "tags": [
                    "Admin - Álbuns"
                ],
                "summary": "Listar álbuns",
                "description": "Retorna lista paginada de álbuns, com suporte a filtros por idioma e busca textual",
                "operationId": "4c96441c818261199ac28dea8f7c2c4c",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Idioma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca textual",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de álbuns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Álbuns"
                ],
                "summary": "Criar álbum",
                "description": "Cria um novo(a) álbum. Requer autenticação admin.",
                "operationId": "63ccfd3316d5bb58336e507cef6651c4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Álbum criado(a) com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "422": {
                        "description": "Dados de validação inválidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/{lang}/albums/category/{slug}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Álbuns por slug de categoria (público)",
                "description": "Retorna lista paginada de álbuns pertencentes a uma categoria identificada por slug. Slug inexistente retorna lista vazia.",
                "operationId": "a17003ca10060f55378565425c7ccc38",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug da categoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de álbuns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/{lang}/albums/{id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Buscar álbum por ID (público)",
                "description": "Retorna os dados detalhados de um álbum para o idioma informado",
                "operationId": "5455f57dcbbbf4cb96914dc54bfe85f5",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do álbum",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do álbum",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Álbum não encontrado"
                    }
                },
                "security": []
            }
        },
        "/{lang}/album/{id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Buscar álbum por ID (alias singular)",
                "description": "Alias para /{lang}/albums/{id}",
                "operationId": "9a81d11285a42e09f28da11924d93207",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do álbum",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do álbum",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Álbum não encontrado"
                    }
                },
                "security": []
            }
        },
        "/admin/albums/{id}": {
            "get": {
                "tags": [
                    "Admin - Álbuns"
                ],
                "summary": "Buscar álbum por ID",
                "description": "Retorna os dados detalhados de um(a) álbum específico(a)",
                "operationId": "d16bcc8d3951aae63a3a7958e9cabe45",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do(a) álbum",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do(a) álbum",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Álbum não encontrado(a)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin - Álbuns"
                ],
                "summary": "Atualizar álbum",
                "description": "Atualiza os dados de um(a) álbum existente",
                "operationId": "57d118bcac78bc9c4795f3adebd62370",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do(a) álbum",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Álbum atualizado(a) com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Álbum não encontrado(a)"
                    },
                    "422": {
                        "description": "Dados de validação inválidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Álbuns"
                ],
                "summary": "Excluir álbum",
                "description": "Remove um(a) álbum pelo ID",
                "operationId": "c5b4deba0b858630557d8cd28af03ac8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do(a) álbum",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Álbum excluído(a) com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Álbum não encontrado(a)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/{lang}/albums_musics": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar associações álbum-música (público)",
                "description": "Retorna lista paginada para o idioma informado",
                "operationId": "972ead773a645e62144ca66091a4f262",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/admin/albums_musics": {
            "get": {
                "tags": [
                    "Admin - Álbuns-Músicas"
                ],
                "summary": "Listar associações álbum-música",
                "description": "Retorna lista paginada",
                "operationId": "2abcc75cfbc29dd93dc422628ccc6b0f",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Idioma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Álbuns-Músicas"
                ],
                "summary": "Criar associação álbum-música",
                "operationId": "0298272cd5af5dbb0afea92d95be622d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "422": {
                        "description": "Validação falhou"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/albums_musics/{id}": {
            "get": {
                "tags": [
                    "Admin - Álbuns-Músicas"
                ],
                "summary": "Buscar associação álbum-música por ID",
                "operationId": "dc2c7878a4e38bd7f0b57b3ef11fd9d8",
                "responses": {
                    "200": {
                        "description": "Dados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin - Álbuns-Músicas"
                ],
                "summary": "Atualizar associação álbum-música",
                "operationId": "11ff95d36cf3555d8f4e33c922b5a6ab",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Atualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "422": {
                        "description": "Validação falhou"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Álbuns-Músicas"
                ],
                "summary": "Excluir associação álbum-música",
                "operationId": "cf0f9383a4b5e8aad8b2448dc031bb43",
                "responses": {
                    "200": {
                        "description": "Excluído"
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login do usuário",
                "description": "Autentica o usuário com username e password e retorna token JWT",
                "operationId": "8cb7742ae98d0990acb2907c4e00bf24",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "password"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "admin"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciais inválidas"
                    },
                    "500": {
                        "description": "Erro interno no servidor"
                    }
                },
                "security": []
            }
        },
        "/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Usuário autenticado",
                "description": "Retorna os dados do usuário autenticado pelo token JWT",
                "operationId": "a9c495788506b114956e3f509e5d90a2",
                "responses": {
                    "200": {
                        "description": "Dados do usuário",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/refresh-token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Renovar token JWT",
                "description": "Renova o token JWT atual, invalidando o token anterior (refresh rotation)",
                "operationId": "f63bd8623627d4788e5207877d1c582d",
                "responses": {
                    "200": {
                        "description": "Token renovado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido ou já invalidado"
                    },
                    "500": {
                        "description": "Erro ao renovar token"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout do usuário",
                "description": "Invalida o token JWT atual, realizando logout do usuário",
                "operationId": "0d29c740dc06d77602af8095bf4654cc",
                "responses": {
                    "200": {
                        "description": "Logout realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro ao realizar logout"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/change-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Alterar senha",
                "description": "Altera a senha do usuário autenticado. Invalida todos os tokens existentes após a alteração.",
                "operationId": "255dd8dc9b5174b7256349a2318e8c1e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password"
                                ],
                                "properties": {
                                    "current_password": {
                                        "description": "Senha atual",
                                        "type": "string"
                                    },
                                    "new_password": {
                                        "description": "Nova senha (mín. 8 caracteres, 1 letra, 1 número, 1 especial)",
                                        "type": "string"
                                    },
                                    "new_password_confirmation": {
                                        "description": "Confirmação da nova senha",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Senha alterada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Senha atual incorreta ou nova senha inválida"
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/{lang}/categories_albums": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listagem de associações categoria-álbum (público)",
                "description": "Retorna a listagem de associações categoria-álbum para o idioma informado",
                "operationId": "15e3267942368bd17dffcc97e9197109",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "...",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/admin/categories_albums": {
            "get": {
                "tags": [
                    "Admin - Categorias-Álbuns"
                ],
                "summary": "Listar associações categoria-álbum",
                "description": "Retorna lista paginada",
                "operationId": "45ba23896f0c35701fd4ebab7a27a813",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Idioma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Categorias-Álbuns"
                ],
                "summary": "Criar associação categoria-álbum",
                "operationId": "5831184e8a76d4a88498dfaf010815ea",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "422": {
                        "description": "Validação falhou"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/categories_albums/{id}": {
            "get": {
                "tags": [
                    "Admin - Categorias-Álbuns"
                ],
                "summary": "Buscar associação categoria-álbum por ID",
                "operationId": "11ae41c4cc4ae210b4330521a869c2bf",
                "responses": {
                    "200": {
                        "description": "Dados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin - Categorias-Álbuns"
                ],
                "summary": "Atualizar associação categoria-álbum",
                "operationId": "1c90d0463e5237d1abe039a2b7a8a577",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Atualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "422": {
                        "description": "Validação falhou"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Categorias-Álbuns"
                ],
                "summary": "Excluir associação categoria-álbum",
                "operationId": "4018dafd737a43357e2f20880f7efc19",
                "responses": {
                    "200": {
                        "description": "Excluído"
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/{lang}/categories": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listagem de categorias (público)",
                "description": "Retorna a listagem de categorias para o idioma informado",
                "operationId": "45fa79e66b58bd25d0460df16146b2b6",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "...",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/admin/categories": {
            "get": {
                "tags": [
                    "Admin - Categorias"
                ],
                "summary": "Listar categorias",
                "description": "Retorna lista paginada de categorias, com suporte a filtros por idioma e busca textual",
                "operationId": "6072ee0d4f01268ba84981a78e569980",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Idioma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca textual",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de categorias",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Categorias"
                ],
                "summary": "Criar categoria",
                "description": "Cria um novo(a) categoria. Requer autenticação admin.",
                "operationId": "fd033ad238d9b6ffbb7a3552dfea158b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoria criado(a) com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "422": {
                        "description": "Dados de validação inválidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/{lang}/categories/{id}/albums": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Álbuns de uma categoria (público)",
                "description": "Retorna lista paginada de álbuns pertencentes a uma categoria específica",
                "operationId": "b9918ec07ef48c1c50258e0521b0b693",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de álbuns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoria não encontrada"
                    }
                },
                "security": []
            }
        },
        "/{lang}/categories/{id}/albums-with-musics": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Álbuns com músicas de uma categoria (público)",
                "description": "Retorna uma categoria com seus álbuns e respectivas músicas em estrutura aninhada",
                "operationId": "b7cf8046b8f5c46da7dab5da2a95bc92",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Estrutura aninhada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoria não encontrada"
                    }
                },
                "security": []
            }
        },
        "/admin/categories/{id}": {
            "get": {
                "tags": [
                    "Admin - Categorias"
                ],
                "summary": "Buscar categoria por ID",
                "description": "Retorna os dados detalhados de um(a) categoria específico(a)",
                "operationId": "b5c69436f2e878141086f2d8e6597daf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do(a) categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do(a) categoria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Categoria não encontrado(a)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin - Categorias"
                ],
                "summary": "Atualizar categoria",
                "description": "Atualiza os dados de um(a) categoria existente",
                "operationId": "78fd86c3f981b7d13128038646827438",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do(a) categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Categoria atualizado(a) com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Categoria não encontrado(a)"
                    },
                    "422": {
                        "description": "Dados de validação inválidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Categorias"
                ],
                "summary": "Excluir categoria",
                "description": "Remove um(a) categoria pelo ID",
                "operationId": "1dda5aaba5a792b98fec7d365d7c72b0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do(a) categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria excluído(a) com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "404": {
                        "description": "Categoria não encontrado(a)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/{lang}/collections/online": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Coleção de conteúdo online (público)",
                "description": "Retorna canais, playlists e vídeos online estruturados, com cache de 10 minutos",
                "operationId": "92b75d20b0de544e0d86944b5a507440",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Conteúdo online",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/{lang}/config": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar configurações",
                "description": "Retorna configurações do sistema para o idioma informado",
                "operationId": "7b31ae387ba29dd85a581da07c566efb",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configurações",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/{lang}/configs": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar configurações (alias)",
                "description": "Alias para /{lang}/config. Retorna configurações do sistema",
                "operationId": "45ee4467b24b5e0c7e6bb53a93d3ce8a",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configurações",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/db/manifest": {
            "get": {
                "tags": [
                    "Database"
                ],
                "summary": "Manifest de arquivos JSON",
                "description": "Lista todos os arquivos JSON disponíveis em public/db/json com nome, tabela e path de acesso.",
                "operationId": "3cf90931a697db0625f6a69acbb1f360",
                "responses": {
                    "200": {
                        "description": "Lista de arquivos JSON disponíveis",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "file": {
                                                "type": "string",
                                                "example": "config.json"
                                            },
                                            "table": {
                                                "type": "string",
                                                "example": "config"
                                            },
                                            "path": {
                                                "type": "string",
                                                "example": "/db/config"
                                            },
                                            "hash": {
                                                "description": "MD5 hash do arquivo para cache ETag",
                                                "type": "string",
                                                "example": "a1b2c3d4e5f6..."
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiToken": []
                    }
                ]
            }
        },
        "/db/{table}": {
            "get": {
                "tags": [
                    "Database"
                ],
                "summary": "Registros de uma tabela JSON",
                "description": "Retorna registros paginados de um arquivo JSON específico. Suporta paginação via query params.",
                "operationId": "d1af8531b38e332f3446bf819af8fcd7",
                "parameters": [
                    {
                        "name": "table",
                        "in": "path",
                        "description": "Nome da tabela (arquivo JSON sem extensão)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número da página",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "schema": {
                            "type": "integer",
                            "default": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Registros paginados",
                        "headers": {
                            "ETag": {
                                "description": "MD5 hash do arquivo para cache condicional",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 50
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 2
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Não modificado (ETag coincide com If-None-Match)"
                    },
                    "404": {
                        "description": "Arquivo não encontrado"
                    }
                },
                "security": [
                    {
                        "ApiToken": []
                    }
                ]
            }
        },
        "/db/bundle": {
            "get": {
                "tags": [
                    "Database"
                ],
                "summary": "Bundle ZIP de todos os JSON",
                "description": "Gera e baixa um arquivo ZIP contendo todos os arquivos JSON da pasta public/db/json.",
                "operationId": "35c225703d4ac77f22ab32fe1de74730",
                "responses": {
                    "200": {
                        "description": "Arquivo ZIP",
                        "content": {
                            "application/zip": {}
                        }
                    },
                    "404": {
                        "description": "Nenhum arquivo JSON encontrado"
                    }
                },
                "security": [
                    {
                        "ApiToken": []
                    }
                ]
            }
        },
        "/db/{table}/categories": {
            "get": {
                "tags": [
                    "Database"
                ],
                "summary": "Categorias únicas de uma coluna",
                "description": "Retorna array de valores únicos de uma coluna específica em um arquivo JSON, ordenados alfabeticamente.",
                "operationId": "6600cca444ceda9e5692d30654b70ff8",
                "parameters": [
                    {
                        "name": "table",
                        "in": "path",
                        "description": "Nome da tabela",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "column",
                        "in": "query",
                        "description": "Nome da coluna para extrair categorias únicas",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array de categorias únicas ordenadas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Parâmetro column obrigatório"
                    },
                    "404": {
                        "description": "Tabela não encontrada"
                    }
                },
                "security": [
                    {
                        "ApiToken": []
                    }
                ]
            }
        },
        "/json_db/{file}": {
            "get": {
                "tags": [
                    "Database"
                ],
                "summary": "Obter arquivo JSON exportado (legado)",
                "description": "Retorna o conteúdo de um arquivo JSON específico da pasta public/db/json/",
                "operationId": "5c607d2e3a8b8ce46990e2a52ed4788f",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "Nome do arquivo (sem extensão .json)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "config"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Conteúdo do JSON"
                    },
                    "404": {
                        "description": "Arquivo não encontrado"
                    }
                },
                "security": []
            }
        },
        "/db/export": {
            "get": {
                "tags": [
                    "Database"
                ],
                "summary": "Recriar JSONs do banco",
                "description": "Recria todos os arquivos JSON estáticos gerados a partir do banco de dados.",
                "operationId": "d24f92e46c4d3b46b57800babe555bab",
                "responses": {
                    "200": {
                        "description": "JSONs recriados com sucesso"
                    },
                    "500": {
                        "description": "Erro ao recriar arquivos"
                    }
                },
                "security": [
                    {
                        "ApiToken": []
                    }
                ]
            }
        },
        "/download": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Download do app desktop",
                "description": "Redireciona (302) para a URL de download do instalador do app desktop LouvorJA. A URL é obtida dinamicamente dos parâmetros do sistema conforme o idioma. ⚠️ O \"Try it out\" do Swagger pode falhar porque o redirect vai para github.com (CORS do browser bloqueia). Teste direto no navegador ou via curl.",
                "operationId": "cfdf8fb0400afc2cc594de357da6ebb9",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Código do idioma (default: pt)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirecionamento para a URL de download",
                        "headers": {
                            "Location": {
                                "description": "URL de download",
                                "schema": {
                                    "type": "string",
                                    "format": "url"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "URL de download não configurada para o idioma"
                    }
                },
                "security": []
            }
        },
        "/{lang}/download": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Download do app desktop (por idioma)",
                "description": "Redireciona (302) para a URL de download do instalador do app desktop LouvorJA para o idioma informado. ⚠️ O \"Try it out\" do Swagger pode falhar porque o redirect vai para github.com (CORS do browser bloqueia). Teste direto no navegador ou via curl.",
                "operationId": "937e4605ab69d410993b1c49792a22dd",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirecionamento para a URL de download",
                        "headers": {
                            "Location": {
                                "description": "URL de download",
                                "schema": {
                                    "type": "string",
                                    "format": "url"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "URL de download não configurada para o idioma"
                    }
                },
                "security": []
            }
        },
        "/{lang}/files": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar arquivos (público)",
                "description": "Retorna lista paginada de arquivos para o idioma informado",
                "operationId": "b6615d73ad7bb8f4a6a1dea67ce32699",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca textual",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Tipo do arquivo",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de arquivos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/admin/files": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar arquivos",
                "description": "Retorna lista paginada de arquivos, com filtros por idioma e tipo",
                "operationId": "5f5d7a9f14764b7a00b1a6d263730e0a",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Idioma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca textual",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Tipo do arquivo",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de arquivos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/admin/files/{id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Buscar arquivo por ID",
                "description": "Retorna os metadados de um arquivo específico",
                "operationId": "2351d0c1b6cb1f82d6295fdb0aaabe11",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do arquivo",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do arquivo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Arquivo não encontrado"
                    }
                },
                "security": []
            }
        },
        "/file/{path}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Abrir arquivo",
                "description": "Retorna o conteúdo ou redireciona para o arquivo no caminho informado",
                "operationId": "b0b33be53b26502903295e6b13d7136c",
                "parameters": [
                    {
                        "name": "path",
                        "in": "path",
                        "description": "Caminho do arquivo",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Conteúdo do arquivo ou redirecionamento"
                    },
                    "404": {
                        "description": "Arquivo não encontrado"
                    }
                },
                "security": []
            }
        },
        "/ftp": {
            "get": {
                "tags": [
                    "API"
                ],
                "summary": "Dados de conexão FTP",
                "description": "Retorna credenciais FTP codificadas em base64, protegidas por token Firebase JWT via query param",
                "operationId": "b1676ab2ff3a8bfe4f74bc61e40301a6",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Idioma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Firebase JWT token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "data",
                        "in": "query",
                        "description": "Dados adicionais codificados em base64",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados FTP codificados em base64",
                        "content": {
                            "text/plain": {}
                        }
                    },
                    "401": {
                        "description": "Token inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Token inválido"
                                        },
                                        "details": {
                                            "type": "string"
                                        },
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Health check da API",
                "description": "Retorna o status de saúde da API verificando database, cache e storage.",
                "operationId": "13b4295a5c3966b06a2806ab5a31e14d",
                "responses": {
                    "200": {
                        "description": "API saudável",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "version": {
                                            "type": "string",
                                            "example": "1.0.0"
                                        },
                                        "services": {
                                            "properties": {
                                                "database": {
                                                    "type": "string",
                                                    "example": "ok"
                                                },
                                                "cache": {
                                                    "type": "string",
                                                    "example": "ok"
                                                },
                                                "storage": {
                                                    "type": "string",
                                                    "example": "ok"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Serviço indisponível",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "degraded"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{lang}/hymnal": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar hinários",
                "description": "Retorna lista de hinários disponíveis para o idioma informado",
                "operationId": "edfe5848bd8358778ff0ecb386fc082e",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de hinários",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/{lang}/hymnal/{id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Buscar hino por ID",
                "description": "Retorna um hino específico do hinário por ID",
                "operationId": "b433c7d8af34e006ed519cc8f5ef62af",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do hino",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do hino",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hino não encontrado"
                    }
                },
                "security": []
            }
        },
        "/{lang}/languages": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar idiomas disponíveis",
                "description": "Retorna todos os idiomas cadastrados no sistema",
                "operationId": "5a4d9d16acae8a2735c5755f85c1af1d",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de idiomas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/{lang}/lyrics": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Listar letras (público)",
                "description": "Retorna lista paginada de letras para o idioma informado",
                "operationId": "597fb2ba441099b2a131c1489001fd51",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "path",
                        "description": "Código do idioma",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca textual",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de letras",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/admin/lyrics": {
            "get": {
                "tags": [
                    "Admin - Letras"
                ],
                "summary": "Listar letras",
                "description": "Retorna lista paginada de letras, com suporte a filtros por idioma e busca textual",
                "operationId": "c642b9bd1013a1b7ce103b4f91b68877",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Idioma",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "pt"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca textual",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de letras",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
[...]
